@using BlazorLoginApp.Authentication
@using BlazorSide.Pages.GuardView
@using BlazorSide.UIComponents
@using Entities
@using System.Security.Claims
@using Contracts
@using Microsoft.AspNetCore.SignalR
@inject IAuthService authService
@inject IModalService _modalService
@inject NavigationManager navMgr
@inject IUserService _userService

  <nav
       id="main-navbar"
       class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      
      <span class="nav-item me-3 me-lg-0 my-auto">
                <a class="nav-link" @onclick="Logout" style="cursor: pointer;" >
                  <i class="bi bi-box-arrow-in-left" ></i>
                </a>
        </span>
      <!-- Brand -->
            <a class="navbar-brand " id="logo" href="/">
              <img
                src="img/logo.png"
                   height="100"
                   alt=""
                   loading="lazy"/>
            </a>

      <!-- Right links -->
      <ul class="navbar-nav ms-0 d-flex flex-row">
        <!-- Notification dropdown -->
        <li class="nav-item dropdown">
          <a
             class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
             id="navbarDropdownMenuLink"
             role="button"
             data-mdb-toggle="dropdown"
             aria-expanded="false"
             >
            <i class="fas fa-bell"></i>
            @* <span class="badge rounded-pill badge-notification bg-danger">1</span> *@
          </a>
          <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
              >
            <li><a class="dropdown-item" href="#">Some news</a></li>
            <li><a class="dropdown-item" href="#">Another news</a></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>

        <AuthorizeView Policy="GuardAccess">
        <!-- Icon -->
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" onclick="@GoToProfile">
            <i class="fa solid fa-user" style="cursor: pointer;"></i>
          </a>
        </li>
        </AuthorizeView>
        <!-- Avatar -->
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#">
            <i class="fab fa-github"></i>
          </a>
          </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->


@code {
  [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;
    [CascadingParameter]
    public IModalService Modal { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task Logout()
    {
      
      var parameters = new ModalParameters();
      parameters.Add(nameof(ActionConfirm.Message), "Are you sure you want to log out?");
      var modal=_modalService.Show<ActionConfirm>("Log Out",parameters);
      var result = await modal.Result;
      if (result.Cancelled)
      {
        return;
      }
      await authService.LogoutAsync();
      navMgr.NavigateTo("/");
    }

    private async Task GoToProfile()
    {
      AuthenticationState authState = await AuthState;
      if (authState.User.Identity == null) return;
      ClaimsPrincipal user = authState.User;
      Claim userName = user.Claims.First(c => c.Type.Equals("UserName"));
      User? u = await _userService.GetUserAsync(userName.Value);
      navMgr.NavigateTo("/GuardProfile/"+u.Id);
    }

}