@using BlazorLoginApp.Authentication
@using BlazorSide.Pages.GuardView
@using BlazorSide.UIComponents
@using Entities
@using System.Security.Claims
@using Contracts
@using Microsoft.AspNetCore.SignalR
@using StateContainer

@inject IAuthService AuthService
@inject IModalService ModalService
@inject NavigationManager NavMgr
@inject IUserService UserService
@inject AlertStateContainer AlertStateContainer

@implements IDisposable
<nav
       id="main-navbar"
       class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      
      <span class="nav-item me-3 me-lg-0 my-auto">
                <a class="nav-link" @onclick="Logout" style="cursor: pointer;" >
                  <i class="bi bi-box-arrow-in-left" ></i>
                </a>
        </span>
      <!-- Brand -->
            <a class="navbar-brand " id="logo" href="/">
              <img
                src="img/logo.png"
                   height="100"
                   alt=""
                   loading="lazy"/>
            </a>

      <!-- Right links -->
      <ul class="navbar-nav ms-0 d-flex flex-row" style="margin-right: 10px">
        <!-- Notification dropdown -->
        <AuthorizeView Policy="GuardAccess">
        @if (_elapsedTime <= _notificationDuration)
        {
          <li class="nav-item dropdown">
            <a
              class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false">
              <i class="fas fa-bell"></i>

              <span class="badge rounded-pill badge-notification bg-danger">Alert!</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-start"
              aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" @onclick="ShowAlert">@_alert.Text</a></li>
            </ul>
          </li>
        }
        else
        {
        TimerDone?.Invoke();
        }
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" onclick="@GoToProfile">
            <i class="fa solid fa-user" style="cursor: pointer;"></i>
          </a>
        </li>
        </AuthorizeView>
        <!-- Avatar -->
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://github.com/Mishanull/PrisonSystemPresentation/">
            <i class="fab fa-github"></i>
          </a>
          </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->


@code {
  [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    private bool _collapseNavMenu = true;
    private string? NavBarCssClass => _collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => _collapseNavMenu ? "collapsed" : null;
    private ClaimsPrincipal? _user;
    [CascadingParameter]
    public IModalService _modal { get; set; }
    private static Timer? _timer;
    private Alert? _alert { get; set; }
    private int _elapsedTime=0;
    private int? _notificationDuration;
    private string _text { get; set; }
    public event Action? TimerDone;
  
    protected override async Task OnInitializedAsync()
    {
      AuthenticationState authState = await AuthState;
      _user = authState.User;
      Claim userName = _user.Claims.First(c => c.Type.Equals("UserName"));
      User? u = await UserService.GetUserAsync(userName.Value);
      if (u.Role.Equals("guard"))
      {
        AlertStateContainer.OnChange += ReceiveNotifications;
        TimerDone += StopTimer;
      }
    }

  private void ReceiveNotifications()
  {
    _alert = AlertStateContainer.Property;
    StartTimer();
    _text = _alert.Text;
    _notificationDuration = _alert.DurationInMinutes*60;
  }

  private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
    private async Task Logout()
    {
      
      var parameters = new ModalParameters();
      parameters.Add(nameof(ActionConfirm.Message), "Are you sure you want to log out?");
      var modal=ModalService.Show<ActionConfirm>("Log Out",parameters);
      var result = await modal.Result;
      if (result.Cancelled)
      {
        return;
      }
      await AuthService.LogoutAsync();
      NavMgr.NavigateTo("/");
    }

    private async Task GoToProfile()
    {
      try
      {
        AuthenticationState authState = await AuthState;
        if (authState.User.Identity == null) return;
        ClaimsPrincipal user = authState.User;
        Claim userName = user.Claims.First(c => c.Type.Equals("UserName"));
        User? u = await UserService.GetUserAsync(userName.Value);
        NavMgr.NavigateTo("/GuardProfile/" + u.Id);
      }
      catch (Exception e)
      {
        var paramet = new ModalParameters();
        paramet.Add(nameof(ErrorModal.Message),e.Message);
        ModalService.Show<ErrorModal>("Error",paramet);
      }
    }
  
    private  void StartTimer()
    {
      _elapsedTime = 0;
      _timer = new Timer( _ =>
      {
         InvokeAsync(StateHasChanged);
        _elapsedTime++;
      }, null, 0, 1000);
    }

    private void StopTimer()
    {
       _timer?.DisposeAsync();
      _timer = null;
    }

    public void Dispose()
    {
      _timer?.Dispose();
      AlertStateContainer.OnChange -= ReceiveNotifications;
    }

  private void ShowAlert()
  {
    var parameters = new ModalParameters();
    parameters.Add(nameof(AlertModal.Message),_alert?.Text);
    parameters.Add(nameof(AlertModal.dateTime),_alert?.DateTime);
    parameters.Add(nameof(AlertModal.duration),_alert?.DurationInMinutes);
    ModalService.Show<AlertModal>("Alert", parameters);
  }
}