<nav
      id="sidebarMenu"
      class="collapse d-lg-block position-fixed   h-100 " >
  <div class="position-fixed " id="sidenav-list-container ">
    
    <div class=" list-group list-group-flush mx-3 mt-4 " id="sidenav-list">
      <AuthorizeView Policy="WardenAccess">
        <NavLink
          href=""
          class=" nav-link list-group-item list-group-item-action py-2  mb-3 " Match="NavLinkMatch.All">
          <i class="fas fa-tachometer-alt  ms-2"></i><span>Prison Overview</span>
        </NavLink>
        <NavLink
          href="GuardsOptions"
          class=" nav-link list-group-item list-group-item-action py-2  mb-3 ">
          <img src="img/person-military-pointing-solid.svg" height="20" class="ms-2  icon-sidebar"/><span>Guards</span>
        </NavLink>
        <NavLink
          href="PrisonersOptions"
          class=" nav-link list-group-item list-group-item-action py-2  mb-3 ">
          <img src="img/prisoner.png" height="20" class="ms-2 icon-sidebar"/><span>Inmates</span>
        </NavLink>

        <NavLink
          href="WorkshiftOptions"
          class=" nav-link list-group-item list-group-item-action py-2  mb-3 ">
          <img src="img/schedule.png" height="20" class="ms-2 icon-sidebar"/><span>Schedules</span>
        </NavLink>
        <NavLink
                  href="Visits"
                  class=" nav-link list-group-item list-group-item-action py-2  mb-3 ">
                  <img src="img/visit.png" height="20" class="ms-2 icon-sidebar"/><span>Visits</span>
          </NavLink>
        <NavLink
                href="AlertsOverview"
                id="alert-link"
                class=" nav-link list-group-item list-group-item-action py-2  mb-3 " >
                <img src="img/alert.png" height="20" class="ms-2 icon-sidebar "/><span>Send An Alert</span>
              </NavLink>
      </AuthorizeView>
      <AuthorizeView Policy="GuardAccess">
        <NavLink
          href="GuardIndex"
          class=" nav-link list-group-item list-group-item-action py-2  mb-3 ">
          <i class="fas fa-tachometer-alt  ms-2"></i><span>Overview</span>
        </NavLink>
          
        <NavLink
          href="GuardsSchedule"
          class=" nav-link list-group-item list-group-item-action py-2  mb-3 ">
          <img src="img/schedule.png" height="20" class="ms-2  icon-sidebar"/><span>Schedule</span>
        </NavLink>
        <NavLink
          href="GuardsPrisonersOverview"
          class=" nav-link list-group-item list-group-item-action py-2  mb-3 ">
          <img src="img/prisoner.png" height="20" class="ms-2 icon-sidebar"/><span>Inmates in your Sector</span>
        </NavLink>
      </AuthorizeView>
      <NavLink
        href="VisitCheckIn"
        class=" nav-link list-group-item list-group-item-action py-2  mb-3 ">
        <img src="img/visit.png" height="20" class="ms-2 icon-sidebar"/><span>Check-In Visitor</span>
      </NavLink>
    </div>
    
  </div>
    </nav>