@page "/AddPrisoner"

@using Entities
@using Contracts
@using BlazorSide.UIComponents
@using Syncfusion.Blazor
@using System.ComponentModel.DataAnnotations

@inject IPrisonerService _prisonerService
@inject ISectorService _sectorService
@inject IModalService modalService
@inject NavigationManager _navMgr

@attribute [Authorize(Policy = "WardenAccess")]

<div class="container-fluid w-50 align-self-center p-3 mx-5" style="background-color:#41B3D3; border-radius: 5px; ">
    <EditForm Model="@newPrisoner" OnValidSubmit="@AddNewPrisoner">
        <DataAnnotationsValidator/> 
        <ValidationSummary/>
        <div class="row">
            <div class="col-md-6">
                <label class="text-white"> First Name:</label> <InputText @bind-Value="newPrisoner.FirstName" class="form-control " type="text" />
            </div>
            <div class="col-md-6">
                <label class="text-white">Last Name:</label> <InputText @bind-Value="newPrisoner.LastName" class="form-control " type="text" />
            </div>
        </div>
        <br/>
        <label class="text-white">SSN: </label> <InputNumber @bind-Value="newPrisoner.Ssn" class="form-control"  />
        <br/>
        <label class="text-white">Entry date: </label> <InputDate @bind-Value="entryDate" class="form-control"/>
        <br/>
        <label class="text-white">Custody duration (months): </label> <InputNumber @bind-Value="newPrisoner.DurationInMonths" class="form-control"/>
        <br/>
        <label class="text-white">Crime Commited: </label> <InputText @bind-Value="newPrisoner.CrimeCommitted" class="form-control" type="text"  />
        <br/>
        <label class="text-white">Sector:
            <SfDropDownList TItem="Sector" TValue="Sector" PopupHeight="200px"  @bind-Value="@newPrisoner.Sector" DataSource="sectors">
                <DropDownListFieldSettings   Text="Id" Value="Id"/>
            </SfDropDownList>
        </label> 
        <br/>
        <label class="text-white">Note: </label><InputText @bind-Value="newPrisoner.Note" class="form-control"  />
        <br/>

        <button class="btn btn-white" type="submit">Add New Prisoner</button>
    </EditForm>
</div>

@if (!string.IsNullOrEmpty(errorLabel))
{
    <label style="color: red;">Error: @errorLabel</label>
}

@code {
    private Prisoner newPrisoner=new Prisoner();
    [Required]
    private DateTime entryDate; //workaround for the date as string
    
    private string errorLabel=String.Empty;
    [CascadingParameter]
    private IModalService Modal { get; set; }

    private ICollection<Sector> sectors;
    protected async override Task OnInitializedAsync()
    {
        sectors = await _sectorService.GetSectorsAsync();
    }
    
    private async Task AddNewPrisoner()
    {
        var parameters = new ModalParameters();
            parameters.Add(nameof(ChoiceModal.Message),"Prisoner added successfully");
            parameters.Add(nameof(ChoiceModal.FirstButton),"Go back");
            parameters.Add(nameof(ChoiceModal.SecondButton),"Go to Prisoners Overview");
            parameters.Add(nameof(ChoiceModal.ThirdButton),"Add Another Prisoner");
            try
            {
                newPrisoner.EntryDate = entryDate.Date.ToString("d");
                await _prisonerService.CreatePrisonerAsync(newPrisoner);
                newPrisoner = new Prisoner();
                
                var modalRef=modalService.Show<ChoiceModal>("Success",parameters);
                var result = await modalRef.Result;
                if (!result.Cancelled)
                {
                    string? message;
                    message = result.Data?.ToString() ?? string.Empty;
                    switch (message)
                    {
                        case "Go back":
                        {
                            await BackToOptions();
                            break;
                        }
                        case "Go to Prisoners Overview":
                        {
                            await GoToOverview();
                            break;
                        }
                        case "Add Another Prisoner":
                        {
                            await BackToAdd();
                            break;
                        }
                    }
                    StateHasChanged();
                }
            }
            catch (Exception e)
            {
                errorLabel = e.Message;
            }
            
        }
    

    private async Task BackToAdd()
    {
        StateHasChanged();
    }

    private async Task GoToOverview()
    {
        _navMgr.NavigateTo("/PrisonersOverview");
    }

    private async Task BackToOptions()
    {
        _navMgr.NavigateTo("/PrisonersOptions");
    }

}
