@page "/GuardsOptions"
@inject NavigationManager NavMgr

@attribute [Authorize(Policy = "WardenAccess")]


<AuthorizeView>
    <Authorized>
        <div class="row">
                <div class="col-md-6 m-0">
                    <div class="card">
                        
                        <a @onclick="AddGuard">
                            <button class="border-0 p-0"><img src="img/more.png" height="100" width="100" style="background-color: white;"/></button>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Add New Guard</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 m-0">
                    <div class="card">
                        <a @onclick="GuardsOverview">
                            <button class="border-0 p-0 ripple-surface"><img src="img/file.png" height="100" width="100" style="background-color: white;"/></button>
                            </a>
                        <div class="card-body">
                            <h5 class="card-title">Guards Overview</h5>
                        </div>
                    </div>
                </div>
            </div>
    </Authorized>
</AuthorizeView>

@code {
    private async Task AddGuard()
    {
       NavMgr.NavigateTo($"/AddGuard");
    }
    private async Task GuardsOverview()
    {
        NavMgr.NavigateTo($"/GuardsOverview");
    }
}