@page "/PrisonersOptions"

@inject NavigationManager NavMgr

@attribute [Authorize(Policy = "WardenAccess")]

<AuthorizeView>
    <Authorized>
        <div class="row">
                <div class="col-md-6 m-0">
                    <div class="card">
                        <a @onclick="AddPrisoner">
                            <button class="border-0 p-0"><img src="img/more.png" height="100" width="100" style="background-color: white;"/></button>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Add New Inmate</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 m-0">
                    <div class="card">
                        <a @onclick="PrisonersOverview">
                            <button class="border-0 p-0 ripple-surface"><img src="img/file.png" height="100" width="100" style="background-color: white;"/></button>
                            </a>
                        <div class="card-body">
                            <h5 class="card-title">Inmates Overview</h5>
                        </div>
                    </div>
                </div>
            </div>
    </Authorized>
</AuthorizeView>

@code {
    private async Task AddPrisoner()
    {
       NavMgr.NavigateTo($"/AddPrisoner");
    }
    private async Task PrisonersOverview()
    {
        NavMgr.NavigateTo($"/PrisonersOverview");
    }
}