@page "/PrisonerDetail/{pId:long}"

@using Entities
@using Contracts
@using BlazorSide.UIComponents

@inject NavigationManager _navMgr
@inject IPrisonerService _prisonerService
@inject IModalService _modalService
@attribute [Authorize(Policy = "WardenAccess")]

<div>
    @if (!string.IsNullOrEmpty(_errorLabel))
    {
        <div class="field">
            <label style="color: red">
                @_errorLabel
            </label>
        </div>
    }

    @if (_prisoner == null)
    {
        <p>failed to fetch data of prisoner n.@PId</p>
        StateHasChanged();
    }
    else
    {
        <div class="container-fluid w-50 align-self-center p-3 mx-5" style="background-color:#41B3D3; border-radius: 5px; ">
            <EditForm Model="@_prisoner" OnValidSubmit="@EditPrisoner">
                <DataAnnotationsValidator/> 
                <ValidationSummary/>
                <h3>Prisoner n.-@_prisoner.Id:</h3>
                <div class="row">
                    <div class="col-md-6"><InputText @bind-Value="_prisoner.FirstName" class="form-control form-control-lg" type="text" placeholder="First Name"/></div>
                    <div class="col-md-6"><InputText @bind-Value="_prisoner.LastName" class="form-control form-control-lg" type="text" placeholder="Last Name"/></div>
                </div>
                <br/>
                <InputNumber @bind-Value="_prisoner.Ssn" class="form-control" placeholder="SSN" />
                <br/>  
                <InputText @bind-Value="_prisoner.CrimeCommitted" class="form-control" placeholder="Crime committed" rows="4"/>
                <br/>
                <div class="row">
                    <div class="col-md-6"><button class="btn btn-white" @onclick="EditPrisoner" >Edit prisoner</button></div>
                    <div class="col-md-6"><button class="btn btn-white" @onclick="DeletePrisoner">Delete prisoner</button></div>
                </div>
                
                
            </EditForm>
        </div>
    }
</div>


@code {
    [Parameter]
    public long PId { get; set; }
    private Prisoner? _prisoner;

    private string _errorLabel="";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _prisoner = await _prisonerService.GetPrisonerByIdAsync(PId);
        }
        catch (Exception e)
        {
            var paramet = new ModalParameters();
            paramet.Add(nameof(ErrorModal.Message),e.Message);
            _modalService.Show<ErrorModal>("Error",paramet);
        }
    }

    private async void EditPrisoner()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ActionConfirm.Message),"Are you sure you want to edit the information about the guard?");
        var modalRef=_modalService.Show<ActionConfirm>("Success",parameters);
        var result = await modalRef.Result;
        if (!result.Cancelled)
        {
            try
            {
                await _prisonerService.UpdatePrisonerAsync(_prisoner!);
                _navMgr.NavigateTo("/GuardsOverview");

            }
            catch (Exception e)
            {
                var paramet = new ModalParameters();
                paramet.Add(nameof(ErrorModal.Message),e.Message);
                _modalService.Show<ErrorModal>("Error",paramet);
            }
            
        }
    }

    private async Task DeletePrisoner()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ActionConfirm.Message),"Are you sure you want to delete the information about the guard? WARNING: You cannot undo this action");
        var modalRef=_modalService.Show<ActionConfirm>("Delete",parameters);
        var result = await modalRef.Result;
        if (!result.Cancelled)
        {
            try
            {
                await _prisonerService.RemovePrisonerAsync(_prisoner!.Id);
                _navMgr.NavigateTo("/GuardsOverview");
            }
            catch (Exception e)
            {
                var paramet = new ModalParameters();
                paramet.Add(nameof(ErrorModal.Message),e.Message);
                _modalService.Show<ErrorModal>("Error",paramet);
            }
        }
    }
}