@page "/WorkshiftOptions"
@inject NavigationManager _navMgr

@attribute [Authorize(Policy = "WardenAccess")]


<AuthorizeView>

    <Authorized>
       
        <div class="row">
            <div class="col-md-6 m-0">
                <div class="card text-center" style="width: 50% !important;">
                        
                    <a @onclick="AddWorkshift" >
                        <button class="border-0 p-0"><img src="img/more.png" height="100" width="100" style="background-color: white;"/></button>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Add New Workshift</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-0">
                <div class="card text-center" style="width: 50% !important;">
                    <a @onclick="WorkshiftsOverview">
                        <button class="border-0 p-0 ripple-surface"><img src="img/file.png" height="100" width="100" style="background-color: white;"/></button>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Workshifts Overview</h5>
                    </div>
                </div>
            </div>
        </div>
        
    </Authorized>
</AuthorizeView>

@code {
    
    

    private async Task AddWorkshift()
    {
        _navMgr.NavigateTo($"/AddWorkshift");
    }
    private async Task WorkshiftsOverview()
    {
        _navMgr.NavigateTo($"/WorkshiftsOverview");
    }

}