@page "/PrisonerNotes/{Id:long}"

@using Entities
@using Contracts
@using BlazorSide.UIComponents
@using System.ComponentModel.DataAnnotations

@inject NavigationManager NavMgr
@inject INotesService NotesService
@inject IPrisonerService PrisonerService
@inject IModalService ModalService

@attribute [Authorize(Policy = "GuardAccess")]

<div class="container-fluid w-50 align-self-center p- mx-5" style="background-color:#41B3D3; border-radius: 5px; ">
    <br/>
    <label class="text-white"> Notes:</label>
    <br/>
        @if (!_notes!.Any() || _notes == null)
            {
                <p>Not existing notes</p>
            }
            else
            {
                @foreach (var n in _notes!)
                {
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p type="text"> > @n.Text </p>
                        </div>
                    </div>
                    <hr/>
                }
            }
        <EditForm Model="@_newNote" OnValidSubmit="@AddNote">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="row">
            <div class="col-md-9">
                <label class="text-white"> Add note:</label> <InputTextArea @bind-Value="_newNote.Text" class="form-control" type="text"/>
            </div>
        </div>
        <br/>
        <button class="btn btn-white" type="submit">Add Note</button>
        <br/>
        <hr/>
        </EditForm>
</div>

@code{
    [Parameter]
    public long Id { get; set; }
    private ICollection<Note>? _notes;
    [Required]
    private Note _newNote = new Note();
    private Prisoner _prisoner = new Prisoner();
    private string _errorLabel="";
    
    [CascadingParameter]
    private IModalService _modal { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _prisoner = await PrisonerService.GetPrisonerByIdAsync(Id);
        _notes = _prisoner.Notes;
    }

    private async Task AddNote()
    {
        var parameters = new ModalParameters();
            parameters.Add(nameof(ChoiceModal.Message),"Note added successfully");
            parameters.Add(nameof(ChoiceModal.FirstButton),"Go back");
            parameters.Add(nameof(ChoiceModal.SecondButton),"Go to Prisoners Overview");
            parameters.Add(nameof(ChoiceModal.ThirdButton),"Add Another Note");
            try
            {
                await NotesService.AddNoteAsync(Id,_newNote.Text);
                _newNote = new Note();
                
                var modalRef = ModalService.Show<ChoiceModal>("Success",parameters);
                var result = await modalRef.Result;
                if (!result.Cancelled)
                {
                    string? message;
                    message = result.Data?.ToString() ?? string.Empty;
                    switch (message)
                    {
                        case "Go back":
                        {
                            await BackToOptions();
                            break;
                        }
                        case "Go to Prisoners Overview":
                        {
                            await GoToOverview();
                            break;
                        }
                        case "Add Another Note":
                        {
                            await BackToAdd();
                            break;
                        }
                    }
                    StateHasChanged();
                }
            }
            catch (Exception e)
            {
                var paramet = new ModalParameters();
                paramet.Add(nameof(ErrorModal.Message),e.Message);
                ModalService.Show<ErrorModal>("Error",paramet);
            }
    }
    

    private async Task BackToAdd()
    {
        _prisoner = await PrisonerService.GetPrisonerByIdAsync(Id);
        _notes = _prisoner.Notes;
        await InvokeAsync(StateHasChanged);
    }

    private async Task GoToOverview()
    {
        NavMgr.NavigateTo("/PrisonersOverview");
    }

    private async Task BackToOptions()
    {
        NavMgr.NavigateTo("/PrisonersOptions");
    }
}