@page "/Timetable"

@using BlazorSide.SyncfusionClasses
@using BlazorSide.UIComponents
@using Contracts
@using Entities
@using System.Security.Claims

@inject IWorkShiftService WorkShiftService
@inject IUserService UserService
@inject IGuardService GuardService
@inject IModalService ModalService

@attribute [Authorize(Policy = "GuardAccess")]

@if (IsAssigned(_currentGuardId))
{
    GetCurrentWorkShift(_currentGuardId);
    <div class="row mt-5 justify-content-center">
        <div class="d-flex flex-column justify-content-center mb-5">
            <h5 class="card-header bg-info text-white" style=" width: 75%;">Your Schedule</h5>
            <SfSchedule TValue="ScheduleData" Height="calc(100vh - 4.6rem)" Width="75%" Readonly="true">
                <ScheduleEventSettings DataSource="@_workShiftData"></ScheduleEventSettings>
                <ScheduleViews>
                    <ScheduleView Option="View.Month"></ScheduleView>
                    <ScheduleView Option="View.Agenda"></ScheduleView>
                </ScheduleViews>
            </SfSchedule>
        </div>
    </div>
}
else
{
    <h1>You don't have a schedule because you haven't been assigned to a work shift yet. Refer to the warden.</h1>
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private WorkShift? _currentWorkShift;
    private ClaimsPrincipal? _user;
    private List<ScheduleData>? _workShiftData = new();
    private long _currentGuardId;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            AuthenticationState authState = await AuthState;
            _user = authState.User;
            Claim userName = _user.Claims.First(c => c.Type.Equals("UserName"));
            User? u = await UserService.GetUserAsync(userName.Value);
            _currentGuardId = u.Id;
           
        }
        catch (Exception e)
        {
            Console.WriteLine(e.ToString());
            var paramet = new ModalParameters();
            paramet.Add(nameof(ErrorModal.Message),e.Message);
            ModalService.Show<ErrorModal>("Error",paramet);
        }
    }
    
    private bool IsAssigned(long guardId)
    {
        return GuardService.IsGuardAssigned(guardId).Result;
    }

    private void GetCurrentWorkShift(long guardId)
    {
        _currentWorkShift = WorkShiftService.GetWorkShiftByGuardAsync(guardId).Result;
        string[] days = _currentWorkShift.DaysOfWeek!.Split(", ");
        string extracted=String.Empty;
        for (int i = 0; i < days.Length; i++)
        {
            days[i] = days[i].Substring(0, 2).ToUpper();
            extracted += days[i]+",";
        }
        extracted = extracted.Remove(extracted.Length-1);
        if (_currentWorkShift != null)
        {
            _workShiftData = new List<ScheduleData>
            {
                new()
                {
                    Id = (int) _currentWorkShift.Id,
                    Subject = "Working ",
                    Description = "Shift in Sector " + _currentWorkShift.Sector!.Id,
                    StartTime = _currentWorkShift.Start!.Value,
                    EndTime = _currentWorkShift.End!.Value,
                    RecurrenceRule = "FREQ=WEEKLY;INTERVAL=1;BYDAY="+extracted
                }
            };
        }
    }
}